body {
	background: lightblue;
}

.redletters {
	color: red;
	border: 5px yellow dashed;
	padding: 10px;
}

.bigletters {
	 font-size: large;
}

.image {
	text-align: center;
}
h1  {
text-align: center;
}

h1 {
	border: 5px blue dotted;
}